/* Below css should be standard before your start writting more css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.login_container{

    position: absolute;
    top: 30%;
    margin: 0 auto 0 auto;
    right: 0;
    left: 0;

}

.register_div{

    position: absolute;
    top: 30%;
    margin: 0 auto 0 auto;
    right: 0;
    left: 0;
}


header{

    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 30px 20px;
    height: 80px;
    width: 100vw;
    position: relative;
    /* box-shadow: 0px 36px #ffffff21; */

}

footer{
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    padding:20px 0px;
    position: fixed;
    bottom: 0;
}




.banner{

    width:100vw;
    height: 100vh;
    background-image:url('../../uploads/movies/banner.jpg');
    background-size: cover;
    background-position: center top;

}

.banner-item{

    position: absolute;
    width: 1100px;
    height: 150px;
    /* background-color: gray; */
    top: 40%;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.banner-item > h1{

    font-size: 60px;
    font-weight: 700;
    color: white;
}

.login_button{

    padding: 15px 40px;
    color:black;
    background-color: white;
    border: none;
    transition: 1s;
}

.login_button:hover{

    background-color:white;
    border: 2px solid black;
}



.logo_space > a >img {

    align-items: center;
    position: absolute;
    top:5px;
}

.hamburger{
    display: none;
}

.hamburger .line{

   width: 30px;
   height: 3px;
   margin: 6px 0;
   background-color:gainsboro;
}

.nav-bar > ul{

    display: flex;
    justify-content: space-between;

}

.nav-bar > ul > li > a{

    padding: 0px 25px;
    color:white;
    font-weight: 600;
    text-decoration: none;
}

.col-3{

    transition: 0.5s;
    cursor:pointer;
}

.col-3:hover{

    transform: scale(1.08);
    z-index: 1;
}

/* header css ends here */


/* media query for screen sizes */

@media only screen and (max-width: 900px){

    .header{

        position: relative;
    }

    .hamburger{

        display: block;
        cursor: pointer;
    }

    .nav-bar{

        position: absolute;
        top:80px;
        width: 100vw;
        left: 0;
        right: 0;
        margin: 0 auto 0auto;
        overflow: hidden;
        height: 0px;
        transition: 1s;
        background-color: #e7e7e7;
        z-index: 1;

    }

    .nav-bar > ul{

        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: justify;
        opacity: 0;
        transition: 1s;
    }

    .nav-bar > ul > li{

        margin-bottom: 20px;
    }

    /* nav bar active class section for click event */

    .nav-bar.active{

        height: 315px;
    }

    .nav-bar.active > ul{

        opacity: 1;
    }


}



